<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/login.css" rel="stylesheet">
	<script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
	</head>
	<body>
	
	
	
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./scripts/Chart.min.js"></script>
	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./bootstrap/js/bootstrap.min.js"></script>
	
	<div id="slide">
		<poll>
			<question>Quel est le poids de Yann ?</question>
			<answers>
				<answer>papalino</answer>
				<answer>papalina</answer>
			</answers>
		</poll>
		<poll>
			<question>Quel est le poids de TA CCCCC ?</question>
			<answers>
				<answer>5</answer>
				<answer>6</answer>
			</answers>
		</poll>	
		<poll>
			<question>Quel est le poids de TA MERE ?</question>
			<answers>
				<answer>1</answer>
				<answer>2</answer>
			</answers>
		</poll>
		<poll>
			<question>Quel est le poids de TA TEST ?</question>
			<answers>
				<answer>5</answer>
				<answer>6</answer>
			</answers>
		</poll>	
		<poll>
			<question>Quel est le poids de TA CCCCC ?</question>
			<answers>
				<answer>5</answer>
				<answer>6</answer>
			</answers>
		</poll>	
	</div>

	
	<script language="javascript" type="text/javascript" src="scripts/superslide.js"></script>
	<script language="javascript" type="text/javascript" src="scripts/superslide_login.js"></script>
	<script language="javascript" type="text/javascript" src="scripts/superslide_poll.js"></script>
	<script language="javascript" type="text/javascript" src="scripts/login.js"></script>
  </body>
</html>