h3 Demo express post
hr
div
form(action='/user', method='post')
	input(id='token',name='token',type='text',value='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ2IjowLCJkIjp7InByb3ZpZGVyIjoicGFzc3dvcmQiLCJ1aWQiOiJzaW1wbGVsb2dpbjozIn0sImlhdCI6MTQxMzA2MDU5OH0.veVezHcN6cwtAzUn4smnb7-306WfCrzyrkJfWzEp71Y')
	input(id='content',name='content', type='text',value='')
	input(id='title',name='title', type='text',value='')
	input(type='submit', value='Valider')
